---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About this site</h1>
    <p>
      St Andrews Space is an independent publication and community platform launched in July 2024 by an incoming first-year student, after growing tired of the constantly increasing number of similar or identical group chats for new St Andrews students. The lack of centralisation was confusing for communicating with others, and aided in the proliferation of scams exploiting the naivety of new students.
    </p>
    <p>...</p>
    <p>
      You know what, I can drop the third-person pretense now. It's lovely to have you here! I don't know what's to become of this little project, but wherever the future does take it, I hope to do my best to listen to other students - and make it as truly close to being a community-run project as possible. As such, your criticism, feedback, and other such contributions are greatly welcome!
    </p>
    <p>— Andrew :&gt;</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
